MapEditorTrunk/src/resources/xsd/themes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
	<xs:complexType name="configurationType">
      <xs:sequence>
        <xs:element name="themeGroup" type="themeGroupType" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="themeGroupType">
    	<xs:sequence>
       		<xs:element name="mapObject" type="mapObjectType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="mapTheme" type="mapThemeType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="mapObjectType" mixed="true">
        <xs:sequence>
        	<xs:element name="objectProperty" type="objectPropertyType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="folder" use="optional"/>
    	<xs:attribute type="xs:string" name="image" use="required"/>
    </xs:complexType>

    <xs:complexType name="objectPropertyType" mixed="true">
    	<xs:sequence>
        	<xs:element name="enumValue" type="enumValueType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="default" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="enumValueType">
		<xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="mapThemeType">
    	<xs:attribute type="xs:string" name="name" use="optional"/>
    	<xs:attribute type="xs:string" name="folder" use="optional"/>
        <xs:attribute type="xs:string" name="image" use="optional"/>
    </xs:complexType>
    
	<xs:element name="configuration" type="configurationType"/>
</xs:schema>
